/*css for non-scrolling elements*/

#title{
  font-family:Vast Shadow;
  text-shadow: 4px 4px 4px #aaa;
  font-size:10em;
  text-align: center;
  margin:auto;
}

#titleSlide{
  height:100vh;
  background-color: white;
}

#titletype {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.impactText {
  margin: auto 14vw auto 10vw;
  height:50vh;
}

/*css for the readability calculations*/

#readableCalcs{
  table-layout: fixed;
  width:70vw;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  border-collapse: collapse;
  
/*  overflow-y: auto;
  overflow-x: auto;*/
}

#readableCalcs td{
  vertical-align: top;
  overflow: auto;
}

.typeArea{
  max-height: 40vh;
/*  overflow: auto;*/
  display: block;
  overflow-y: auto;
  font-size: .66em;
}

.calcArea{
  display: table-cell;
  font-size: 1.22em;
  vertical-align: top;
}


#charNum {
  float:right;
  text-align:right;
  /*position: absolute;*/
  /*top: 75%;*/
/*  vertical-align: top;
  font-size: 1em;*/
}
/*section two*/


#charNumTwo {
  float:left;
  text-align:left;
  /*position: absolute;*/
  /*top: 75%;*/
/*  vertical-align: top;
  font-size: 1em;*/
}

#calcTitlesTwo {
  text-align:center;
}

#fin{
  font-family: 'Open Sans'
}

/*#readableOne {
  width: 40%;
  float: left;
  font-size: .66em;
  overflow-y: auto;
}*/

/*#readableTwo {
  width: 40%;
  height: 35%;
  float: right;
  font-size: .66em;
  overflow-y: auto;
}*/

/*#topbar{
  fill:black;
  content: "";
  min-height: 10%;
  height: 75px;
  width: 40%;
  position: sticky;
  background: linear-gradient(white, rgba(0, 0, 0, 0));
  top:0;
  opacity: .5;
  z-index: 1;
}*/

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

h1{
  margin: 50px;
  font-size: 200px;
  font-family: 'Domine', serif;
}

h1, h2{
  text-align: center;
  font-family: 'Domine', serif;
}

h3{
  font-family: 'Domine', serif;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}


#container{
/*  max-width: 80vw;
  margin: 0.5vw auto;*/
  position: relative;
  background-color: grey;
}

#sections{
  width: 30vw;
  margin-left: 10vw;
}

#sections > div{
  background: white;
  opacity: .05;
  margin-bottom: 25vh;
}
#sections > div:last-child{
  margin-bottom: 10vh;
}
#sections > div.graph-scroll-active{
  opacity: 1;
  background-color: pink;
}


/*  added top % here to bump graph down a bit*/
#graph{
  margin-right: 10vw;
  margin-left: 42.5vw;
  width: 42vw;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  float: left;
  font-family: 'Open Sans', sans-serif;
}

/*for keynote vid*/
/*---*/
/*#sections{
  visibility: hidden;
}

#graph{
  margin-right: 27.5vw;
  margin-left: 27.5vw;
  width: 42vw;
  position: -webkit-sticky;
  position: sticky;
  top: 12%;
  font-family: 'Open Sans', sans-serif;
}

#readableCalcs{
  visibility: hidden;
  }

#title{
  font-family:Vast Shadow;
  text-shadow: 4px 4px 4px #aaa;
  font-size:18em;
  text-align: center;
  margin:18% auto auto auto;
}

#nameText{
  opacity: 0;
  transition: opacity 5s ease 0s;
}

.impactText {
  margin: auto 10vw auto 10vw;
  height:50vh;
}*/

/*end keynote vid*/


/*widescreen*/
@media (max-width: 3440px)  {
/*#graph{
  margin-right: 10vw;
  margin-left: 42.5vw;
  width: 40vw;
  position: -webkit-sticky;
  position: sticky;
  top: 5%; 
  float: left;
}

#sections{
  width: 30vw;
  margin-left: 10vw;
}*/

#sections > div{
  background: white;
  opacity: .05;
  margin-bottom: 25vh;
}
#sections > div:last-child{
  margin-bottom: 10vh;
}
#sections > div.graph-scroll-active{
  opacity: 1;
  /*background-color: pink;*/
}

  pre{
    overflow: hidden;
  }

  h1{
    margin: 10px;
  }
}





/*laptop upto widescreen*/
@media (max-width: 1680px)  {
/*#graph{
  margin-right: 10vw;
  margin-left: 42.5vw;
  width: 47.5vw;
  position: -webkit-sticky;
  position: sticky;
  top: 5%; 
  float: left;
}*/

#sections{
  width: 30vw;
  margin-left: 10vw;
}

#sections > div{
  background: white;
  opacity: .05;
  margin-bottom: 25vh;
}
#sections > div:last-child{
  margin-bottom: 10vh;
}
#sections > div.graph-scroll-active{
  opacity: 1;
  /*background-color: pink;*/
}

  pre{
    overflow: hidden;
  }

  h1{
    margin: 10px;
  }
}




/*mobile*/
@media (max-width: 925px)  {
  #graph{
    width: 100%;
    margin-left: 0px;
    float: none;
  }

  #sections{
    width: auto;
    position: relative;
    margin: 0px auto; 
  }

  #sections > div{
    background: rgba(255,255,255,.5);
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 80vh;
  }

  pre{
    overflow: hidden;
  }

  h1{
    margin: 10px;
  }
}

.mono{
  font-family: monospace;
}

svg{
  background-color: #eee;
}